/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

.bjqs-slide {

}

.leftSide {
	width: 720px!important;
	float: left;

	> img {
		width: 100%;
		height: auto;
	}
}

.rightSide {
	color: #FFF;
	width: 238px;
	height: 286px;
	float: left;
	background: #4ea6db;
	padding: 0 18px 0 18px;

	p {
		color: #fff;
	}

	ul {
		li {
			//text-indent: 10px;
			font-size: 13px;
			p {
				color: #FFF;
			}
		}
	}

}

#banner-fade {
	border: solid 5px #000;
	// border-left: solid 1px #474747;
	// border-right: solid 1px #474747;
	border-left: none;
	border-right: none;
	width: 960px;
	height: 296px!important;

	.grid_9 > img {
		width: 100%!important;
		height: auto!important;
	}
}

.bjqs-controls.v-centered {
	position: absolute;
	right: 160px;
	bottom: 15px;

	li {
		float: left;
	}
}

.bjqs-prev {
	background: url(../images/UI/mainSliderSprite.png) no-repeat 0 0;
	width: 28px; height: 24px;
	text-indent: -9999px;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-position: 0 -24px;
	}
}



.bjqs-next {
	background: url(../images/UI/mainSliderSprite.png) no-repeat -28px 0;
	width: 28px; height: 24px;
	text-indent: -9999px;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-position: -28px -24px;
	}
}

.bjqs-markers.h-centered {
	text-align: left;
	position: absolute;
	bottom: 10px;
	z-index: 999999;
	left: 20px;

	li {
		border-radius: 50%;
		text-indent: -9999px;
		display: block;
		background: #FFF;
		height: 10px;
		width: 10px;
		float: left;
		margin-right: 5px;
		border-top: solid 1px #767676;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		&.active-marker {
			background: #4591bf;
			border-top: solid 1px #204358;
		}
	}
}