.cr-container{
	width:100%;
	//height:400px;
	//border:10px solid #000;
	position:absolute;
	z-index:100;
}
.cr-content-wrapper{
	width:100%;
	height: 357px;
	overflow:hidden;
}
.cr-content-container{
	display:none;
	position:absolute;
	width:100%;
	height: 357px;
	top:0px;
	left:0px;
	display:none;
	overflow:hidden;
}

.cr-img{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:1;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	box-shadow:1px 1px 2px rgba(0,0,0,0.7);
}
.cr-content{
	position:relative;
	z-index:10;
	margin:20px;
	height:360px;
}

.cr-thumbs{
	left: 65px;
	height: 110px;
	width: 492px;
	bottom: 0px;
	z-index: 20;
	overflow: hidden;
}

.cr-thumbs div{
	float:left; /* Set to absolute each 150px*/
	cursor:pointer;
	position:relative;
	display:none;
	width:143px;
	height:106px;
}
.cr-thumbs img{
	display:block;
	border: 2px solid #222;
}

.cr-thumbs div.cr-selected{
	//border-color:#222;
}
.cr-thumbs div.cr-selected img{
	border-color:#009aff;
}

.cr-nav {
	top: -20px;
}

.cr-nav span{
	position:absolute;
	z-index:50;
	text-indent:-9000px;
	cursor:pointer;
	width:35px;
	height:35px;
	margin-bottom:-17px;
	left:-24px;
}
.cr-nav span.cr-nav-next{
	right: 15px;
	left:auto;
	background: url(../images/UI/next.png) no-repeat;
	width: 38px;
	height: 26px;
}

.cr-nav span.cr-nav-prev{
	//background-position:bottom left;
	left: 15px;
	right: auto;
	background: url(../images/UI/prev.png) no-repeat;
	width: 38px;
	height: 26px;
}
.cr-nav span.cr-nav-prev:hover,
.cr-nav span.cr-nav-next:hover{

}
.cr-hide, .cr-show{
	position:absolute;
	z-index:50;
	left:50%;
	margin-left:-25px;
	bottom:-10px;
	//background:#000 url(../images/hide.png) no-repeat top center;
	cursor:pointer;
	width:60px;
	height:15px;
	display: none;
}
.cr-show{
	background-position:bottom center;
}




.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: #fff;

}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #fff;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #fff;
	position: relative;
}

.jspDrag
{
	background: #000;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 10px;
}

.jspHorizontalBar .jspArrow
{
	width: 10px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

.mainGalleryImage {
	border: solid 15px #222;
}

