.overlayCss {

}

.containerCss {

}

.dataCss {

}

.simplemodal-overlay {
	background: #000;
}

.simplemodal-container {

}

.simplemodal-wrap {

}

a.modalCloseImg {
	//background:url(/img/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
	z-index: 99;
}