@mixin contentBox {
	-webkit-box-sizing: content-box;
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

#menu-main {
	margin: 0;
}

	.navigation {

		z-index: 10;

		a {
			@include contentBox;
			text-decoration: none;
			line-height: 39px;
			padding: 0 15px;
			color: #FFF;
		}

		> ul {

			li:hover {
				background: #3d85b0;
			}
			li:active {
				background: #4797c7;
			}

			> li {
				position: relative;

				&:after {
					content: "";
					position: absolute;
					right: 0;
					top: 4px;
					width: 1px;
					height: 30px;
					background: #4d4d4d;
				}

				> a {
					display: block;
					width: 100%;
					height:100%;
					@include contentBox;
					display: block;
					text-decoration: none;
					//padding: 0px 17px;
					color: #FFF;
					line-height: 34px;

					&:hover {
						color: #FFF;
						//font-weight: bold;
						//background: #8d8d8d;
					}

					&:active {

					}
				}

				&.current_page_item {

					&:hover {

					} // close current page hover
				} // close current page


				ul.children {
					display: none;
					
				}

				&:hover {
					 > ul.children {
					 	position: relative;
						display: block;
						
						 li {
						 	background: #4392c1;

						 	&:hover  {
						 		background: #4797c7;
						 	}

							 a {

							 	font-size: 13px;
							} // close children li a

							&:hover > ul.childern {
								display: block;
								width: 165px;
								left: 100%;
								background: #4392c1;

								> li {
									background: #4392c1;

									&:hover {

									}

									> a {

									}

								} // close 2nd children li

							} // close 2nd children

						} // children close li

					} // close first children

				} // close level 1 li:hover


			} // close first level li

		} // close first level ul

	} // div.nav

.navigation > ul {
		float: left;
		li {
			@include contentBox;
			a {
				@include contentBox;
			}
		}
}

.navigation > ul > li:hover > .sub-menu {
	display: block;
	position: absolute;
	width: 235px;
	margin-top: 0;

	li {
		@include contentBox;
		border-bottom: solid 1px #9ec2d8;
		&:last-child { border: none; }
		a { 
			@include contentBox;
			font-weight: normal; 
		}

	 } //close li

} // close menu

.navigation > ul > li:hover > .sub-menu {
	z-index: 9999;
}

.navigation > ul > li:hover > .sub-menu li {
	background: #4ea3d5;
	a {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 14px;
	}
	&:hover {
		background: #4893bf;
	}
}



.navigation {
	//border: 1px solid #ccc;
	



	li {
		float: left;
		height: 29px;
		padding: 4px 0;

		&:hover {
			
			a {
				
			}

		&.active {
			-webkit-box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
	        box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
		}

		&:hover > ul.children {
				
				//background: #4392c1;
				
		}

		}
		a {
			
			
			//border-right: solid 1px #2e2e2e;

			&:hover, &:focus {

			}

			&:active {
				height: 100%;	
			}

		} // close li

		&:first-child {}

		&:last-child {}


		ul.sub-menu,
		ul.children {
			display: none;

			li {
				float: none;
				position: relative;

				ul.children {
					background: #4392c1;
					left: 100%;
					top: 0;

					li {
						width: 100%;
						display: block;
						float: left;
						background: blue;
					}

				}

				a {
					

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		@extend %activeButton;

		> a {
			color: #FFF;
			font-weight: bold;
			background: none;
		}

	}  /* end current highlighters */

} /* end .nav */



#daimler {

}
#bentley {

}
#RR {
	top: -10px;
}
#jaguar {

}

.navigation > ul > li:hover > .sub-menu li:hover .sub-menu {
	display: block;
	left: 100%;
	top: 0;
	position: absolute;
	width: 235px;
	margin: 0;
}
